python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart


##-e . # used to invoke setup.py on pip install to install the package in editable mode, so that any changes made to the code will be reflected without needing to reinstall the package.